<div id="footer-wrapper" class="middle">
  <div class="container" id="footer-container">
    <div class="row">
      <div class="col-12">
        <nav id="nav-footer">
          <ul>
            <li><a href="https://tinkerbell.org/terms" title="">Terms</a></li>
            <li>
              <a href="https://tinkerbell.org/terms/license" title=""
                >License</a
              >
            </li>
            <li>
              <a href="https://tinkerbell.org/terms/code-of-conduct" title=""
                >Code of Coduct</a
              >
            </li>
            <li>
              <a href="https://tinkerbell.org/terms/contributor-guide" title=""
                >Contributor Guide</a
              >
            </li>
          </ul>
        </nav>
        <p>
          © 2021
          <a href="https://www.linuxfoundation.org/">The Linux Foundation</a>.
          All right reserved
        </p>
        <p>
          The Linux Foundation has registered trademarks and uses trademarks.
        </p>
        <p>
          For a list trademarks of The Linux Foundation, please see our
          <a href="https://www.linuxfoundation.org/en/trademark-usage"
            >Trademark Usage</a
          >
          page.
        </p>
      </div>
    </div>
  </div>
</div>
