<div id="footer-wrapper" class="middle">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <p class="text">
                    An open source project brought to you by 
                    <a class="logo-footer" href="https://www.packet.com/" title="Packet">
                        <img src="{{ config.theme.footer_logo | url }}" alt="logo" class="packet-logo">
                    </a>
                </p>
            </div>
            <div class="col-6">
                <nav id="nav-footer">
                    <ul>
                        <li><a href="#" title="">Terms</a></li>
                        <li><a href="#" title="">License</a></li>
                        <li><a href="#" title="">Code of Coduct</a></li>
                        <li><a href="#" title="">Contributor Guide</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
