<header id="site-header">
    <nav id="nav-main" class="nav">
        <div class="md-grid">
            <section class="md-grid row">
                <div class="col-2 left">
                    <a aria-current="page" class="logo" href="/">
                        <img src="{{ config.theme.logo | url }}" alt="logo">
                    </a>
                </div>
                <div class="col-10">
                    <div class="nav-top">
                        <ul>
                            <li class="">
                                <a href="">Faqs</a>
                            </li>
                            <li class="">
                                <a href="">Docs</a>
                            </li>
                            <li class="">
                                <a href="">Examples</a>
                            </li>
                            <li class="">
                                <a href="">Community</a>
                            </li>
                            <li class="pre">
                                <a href="https://github.com/tinkerbell/"><i class="fa fa-github"></i></a>
                            </li>
                            <li class="pre">
                                <a href="https://tinkerbell.org/community/slack/"><i class="fa fa-slack"></i></a>
                            </li>
                            <li class="pre">
                                <a href="https://twitter.com/tinkerbell_oss"><i class="fa fa-twitter"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </nav>
</header>
