<header id="site-header">
    <!-- Button to open drawer -->
    <label class="md-header-nav__button md-icon menu-toggle" for="__drawer">
        {% include ".icons/material/menu" ~ ".svg" %}
    </label>
    <nav id="nav-main" class="nav">
        <div class="md-grid">
            <section class="md-grid grid-x row">
                <div class="col-2 left">
                    <a aria-current="page" class="logo" href="/">
                        <img src="{{ config.theme.logo | url }}" alt="logo">
                    </a>
                </div>
                <div class="col-10">
                    <div class="nav-top">
                        <ul>
                          <li class="">
                              <a href="https://tinkerbell.org">Home</a>
                          </li>
                          <li class="">
                                <a href="https://tinkerbell.org/faq/">FAQs</a>
                            </li>
                            <li class="">
                                <a href="https://tinkerbell.org/examples/">Examples</a>
                            </li>
                            <li class="">
                                <a href="https://tinkerbell.org/community/">Community</a>
                            </li>
                            <li class="pre">
                                <a href="https://github.com/tinkerbell/"><i class="fa fa-github"></i></a>
                            </li>
                            <li class="pre">
                                <a href="https://tinkerbell.org/community/slack/"><i class="fa fa-slack"></i></a>
                            </li>
                            <li class="pre">
                                <a href="https://twitter.com/tinkerbell_oss"><i class="fa fa-twitter"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </nav>
</header>
