<nav
  class="md-nav md-nav--primary"
  aria-label="{{ lang.t('nav.title') }}"
  data-md-level="0"
>
  <!-- Site title -->
  <label class="md-nav__title" for="__drawer">
    <a
      href="{{ config.site_url | default(nav.homepage.url, true) | url }}"
      title="{{ config.site_name }}"
      class="md-nav__button md-logo"
      aria-label="{{ config.site_name }}"
    >
      {% include "partials/logo.html" %}
    </a>
    {{ config.site_name }}
  </label>
  <!-- Repository containing source -->
  {% if config.repo_url %}
  <div class="md-nav__source">{% include "partials/source.html" %}</div>
  {% endif %}
  <!-- Render item list -->
  {% import "partials/nav-item.html" as item with context %}
  <ul class="md-nav__list" data-md-scrollfix>
    {% for nav_item in nav %}
      {% set path = "__nav_" ~ loop.index %}
      {{ item.render(nav_item, path, 1) }}
    {% endfor %}
  </ul>
</nav>
