:root {
  --md-primary-fg-color:        #3985a9;
  --md-primary-fg-color--light: #1d5086;
  --md-primary-fg-color--dark:  #05254c;
}

body {
    font-family: Gotham A, Gotham B, Helvetica, Roboto, Arial, sans-serif;
    background: #f8f8f8;
    font-size: .875rem!important
}

h1,
h2,
h3,
h4,
h5 {
    font-family: Gotham A, Gotham B, Helvetica, Roboto, Arial, sans-serif!important;
    line-height: 1.3
}

pre, code, kbd {
    font-family: Consolas, "Liberation Mono", Courier, monospace;
}

.align-middle {
    align-items: center;
}

.grid-x {
    display: flex;
    flex-flow: row wrap;
}

/* Header */
.menu-toggle {
    position: absolute;
    right: 20px;
    top: 1%;
    z-index: 10;
    font-size: 20px;
    color: #fff;
}

#site-header {
    background-color: #05254c;
    color: #fff;
    display: block;
}

.nav {
    text-align: right;
}

.nav a {
    color: #fff;
    font-size: 1rem;
}

.nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav ul li {
    margin: 0 25px;
}

.nav ul li a {
    display: inline-block;
    font-size: 0.8em;
    font-weight: 400;
    border-bottom: 1px solid #05254c;
    color: #9dafc4;
}

.nav ul li.active a {
    color: #fff;
}

.nav ul li a:hover {
    color: #fff;
    border-bottom: 1px solid #fff;
}

.nav ul li.pre {
    margin: 0 5px;
}

.nav ul li.pre a {
    color: #ffd105;
    border: 1px solid #0386ac;
    border-radius: 50em;
    padding: 3px;
    width: 32px;
    height: 32px;
    line-height: 1.65;
    text-align: center;
    display: block;
}

.nav ul li.pre a:hover {
    border: 1px solid #fff;
}

.md-nav__title .md-nav__button.md-logo img, .md-nav__title .md-nav__button.md-logo svg {
    width: 100%;
}

@media screen and (max-width: 76.1875em) {
    .nav .nav-top {
        margin-right: 5%;
    }
}

@media print, screen and (max-width:63.99875em) {
    #site-header {
        padding-bottom: 0;
        padding-top: 20px
    }

    .nav .nav-top {
        overflow-y: auto;
        white-space: nowrap;
        width: 100%;
        padding-top: 0;
        padding-bottom: 20px
    }
    .nav ul {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav ul li {
        margin: 0 10px;
        display: inline
    }
    .nav ul li:first-child {
        margin-left: 0
    }
    .nav ul li a {
        font-size: .875rem;
        display: inline-block!important
    }
    .logo {
        margin-bottom: 20px;
        display: block
    }
    .logo img {
        height: 40px
    }
}


/* Footer */
#footer-wrapper {
    color: #3e3e3e;
    padding-top: 20px;
    padding-bottom: 20px;
}

#footer-wrapper * {
    font-size: 12px;
}

#footer-wrapper a {
    display: inline-block;
}

#footer-wrapper .text {
    margin: 0;
}

#nav-footer ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#nav-footer ul li {
    line-height: 1;
    list-style-type: none;
    margin: 0;
    padding: 0 7px;
    position: relative;
}

#nav-footer ul li:last-child {
    padding-right: 0;
}

#nav-footer ul li a {
    line-height: 1;
}

#nav-footer ul li a:hover {
    color: #0082a7;
}

#nav-footer ul li:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 100%;
    border-right: 1px solid #000;
}

#nav-footer ul li:last-child:after {
    border-right: 0;
}

.logo-footer svg {
    vertical-align: middle;
    display: inline-block;
    margin-left: 20px;
}

@media print, screen and (max-width:63.99875em) {
    #nav-footer ul {
        margin-top: 30px;
        display: block
    }

    #nav-footer ul li {
        margin-bottom: 7px;
        padding-left: 0
    }

    #nav-footer ul li:after {
        display: none
    }

    #footer-wrapper p {
        display: block
    }
    #footer-wrapper .packet-logo {
        margin-left: 0
    }
}

.md-footer-nav {display: none}
.md-header {background-color: var(--md-primary-fg-color--dark)}
.md-footer {background-color: var(--md-primary-fg-color--dark)}
